<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientDashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="~/Areas/Patient/doctortemp/assets/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Areas/Patient/doctortemp/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Areas/Patient/doctortemp/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Areas/Patient/doctortemp/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Areas/Patient/doctortemp/assets/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/FirstPage/First/MainDashboard" class="navbar-brand logo">
                        <img src="~/Dimg/logo/img1.jpeg" class="img-fluid" alt="Logo" >
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/FirstPage/First/MainDashboard" class="menu-logo">
                            <img src="~/Dimg/logo/img1.jpeg" class="img-fluid" alt="Logo">
                        </a>
                       
                    </div>
                   
                    <ul class="main-nav">
                        <li>
                            <a href="/FirstPage/First/MainDashboard">Home</a>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/Doctor/Doctors/Doctorlogin">Doctor Dashboard</a></li>
                               
                            </ul>
                        </li>
                        <li class="has-submenu active">
                            <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/Patient/Patients/Patientlogin">Login</a></li>
                                <li><a href="/Patient/Patients/PatientRegister">Register</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/AdminA/Admin/Adminlogin" target="_blank">Admin</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- /Header -->
        <div>
            @RenderBody()
        </div>
        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="~/Dimg/logo/img1.jpeg" alt="logo">
                                </div>
                               
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                            
                            <div class="col-lg-3 col-md-6">

                                <!-- Footer Widget -->
                                <div class="footer-widget footer-menu">

                                    <div class="footer-about-content">
                                        <br />
                                        
                                        <p><b>The only place where you are truly free is your MIND. <br />Yet you insist on keeping it in a cage like a fragile bird. <br /> No one can hear your thoughts.  <br />FREE your MIND.</b> </p>

                                    </div>
                                </div>
                                <!-- /Footer Widget -->

                            </div>

                       

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> Rajasthan , INDIA </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        9876543210
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->
          
        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Patient/doctortemp/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/Areas/Patient/doctortemp/assets/js/popper.min.js"></script>
    <script src="~/Areas/Patient/doctortemp/assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/Areas/Patient/doctortemp/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="~/Areas/Patient/doctortemp/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="~/Areas/Patient/doctortemp/assets/js/script.js"></script>

</body>
</html>
