
@{
    ViewBag.Title = "Index";
}

<script>
    function display() {
        var text = document.getElementById("txt").value;
        alert(text);

    }

</script>
  
<h2>Index</h2>
<input type="text" id="txt"/>
<br/>
<input type="button" value="Button" onclick=" display()"/>

